* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container {
    width:1366px;
    margin: 0 auto;
}
.article article img {
    width: 350px;
    height: 250px;
}
.article {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.article article {
    width:30%;
}